{
  "extends": [
    "mantine",
    "next/core-web-vitals",
    "plugin:@next/next/recommended",
    "plugin:@typescript-eslint/recommended"
    // "plugin:jest/recommended",
  ],
  "plugins": [
    // "testing-library", "jest"
  ],
  "overrides": [
    // {
    //   "files": [
    //     "**/?(*.)+(spec|test).[jt]s?(x)"
    //   ],
    //   "extends": [
    //     "plugin:testing-library/react"
    //   ]
    // }
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["lint-staged.config.js"],
  "rules": {
    "semi": "warn",
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true
      }
    ],
    "react/react-in-jsx-scope": "off",
    "import/extensions": "off",
    // "consistent-return": "off",
    "no-console": "off",
    "linebreak-style": [
      "warn",
      "windows"
    ],
    "@typescript-eslint/quotes": [
      "error",
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ]
  }
}