{
  // "extends": [
  //   "next",
  //   "mantine",
  //   "prettier",
  //   "next/core-web-vitals"
  // ],
  // "parserOptions": {
  //   "project": "./tsconfig.json"
  // },
  // "ignorePatterns": [".eslintrc", "lint-staged.config.js", ".prettierrc", "postcss.config.js"],
  // "rules": {
  //   "semi": "warn",
  //   "curly": ["error", "multi"],
  //   "quotes": ["error", "double"],
  //   "linebreak-style": ["warn", "windows"],
  //   "no-console": "off",
  //   "prefer-destructuring": "off",
  //   "@typescript-eslint/no-explicit-any": "off",
  //   "@typescript-eslint/quotes": "off"
  // }
}